.text {
  font-family: "Pacifico";
  text-shadow: 2px 3px rgb(123, 123, 126);
  text-align: center;
  color: rgb(65, 65, 155);
  font-size: 40px;
  padding: 20px;
}
.card {
  margin: 10px;
  width: 500px;
  text-align: center;
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input {
  display: flex;
  justify-content: center;
  align-items: center;
}
