<div class="jumbotron" style="padding: 45px 0px">
  <div class="text-center">To Do List App</div>
</div>

<div class="input-group">
  <input type="text" class="form-control" #itemTitle />

  <div class="input-group-addon hover-cursor" (click)="onAdd(itemTitle)">
    <i class="fa fa-plus-circle fa-2x">add</i>
  </div>
</div>

<mat-card style="margin: 100px;">
  <mat-card-content >
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz
      breeds of dog from Japan. A small, agile dog that copes very well with
      mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary">LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
