<div class="text">
  <div class="text-center">To Do List App</div>
</div>

<div class="input">
  <mat-form-field  appearance="fill">
    <mat-label>Input</mat-label>
    <input matInput #itemTitle />
  </mat-form-field>

  <button mat-raised-button color="primary" style="margin-bottom: 20px;" (click)="onAdd(itemTitle)">
    ADD
  </button>
</div>

<div class="card-container">
  <mat-card class="card">
    <mat-card-content>
      <p>The Shiba Inu is the smallest.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary">Done</button>
      <button mat-button color="warn">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>
<div class="card-container">
  <mat-card class="card">
    <mat-card-content>
      <p>The Shiba Inu is the smallest.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary">Done</button>
      <button mat-button color="warn">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>
