<div class="text">
  <div class="text-center">To Do List App</div>
</div>

<div class="input">
  <mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <input matInput #itemTitle />
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    style="margin-bottom: 20px; margin-left: 5px"
    (click)="onAdd(itemTitle)"
  >
    ADD
  </button>
</div>

<div class="card-container">
  <mat-card class="card">
    <mat-card-content>
      <p>"bday party for next week"</p>
      <mat-checkbox  class="checkbox"></mat-checkbox>
      <button mat-button color="warn">Delete</button>
    </mat-card-content>
  </mat-card>
</div>
<div class="card-container">
  <mat-card class="card">
    <mat-card-content>
      <p>"bday party for next week"</p>
      <mat-checkbox  class="checkbox"></mat-checkbox>
      <button mat-button color="warn">Delete</button>
    </mat-card-content>
  </mat-card>
</div>
<div class="card-container">
  <mat-card class="card">
    <mat-card-content>
      <p>"bday party for next week"</p>
      <mat-checkbox  class="checkbox"></mat-checkbox>
      <button mat-button color="warn">Delete</button>
    </mat-card-content>
  </mat-card>
</div>
